<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <title>Firmen</title>
  <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" media="all"
        rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="menu"></div>
<div class="ui container">
  <div class="ui hidden divider"></div>
  <div class="ui grid">
    <div class="five wide column">
      <!-- SEARCH KEYS -->
      <form class="ui form" th:action="@{/crawler/search}" th:method="POST">
        <div class="field">
          <div class="two fields">
            <div class="field">
              <label>
                <select class="ui fluid dropdown" name="period" required
                        type="text">
                  <option th:each="period : ${searchPeriods}" th:value="${period.index}" th:text="${period.label}"></option>
                </select>
              </label>
            </div>
            <div class="field">
              <button class="ui right labeled blue icon button"
                      th:disabled="${searchKeys.isEmpty()}">
                <i class="search icon"></i>
                Suchen
              </button>
            </div>
          </div>
        </div>
        <span th:if="${searchResultsCount != null}"
              th:text="${searchResultsCount + ' neue Ergebnisse'}"></span>
      </form>
      <div class="ui hidden divider"></div>
      <form th:action="@{/crawler/search-keys}" th:method="POST">
        <div class="ui action input">
            <input name="value" placeholder="Suchbegriff..." type="text">
          <button class="ui green icon button">
            <i class="plus icon"></i>
          </button>
        </div>
      </form>
      <table class="ui celled striped table">
        <thead>
        <tr>
          <th class="center aligned">Suchbegriff</th>
          <th class="center aligned ">Löschen</th>
        </tr>
        </thead>
        <tbody>
        <tr class="center aligned" th:if="${searchKeys.isEmpty()}">
          <td colspan="2">Keine Suchbegriffe</td>
        </tr>
        <tr th:each="searchKey: ${searchKeys}">
          <td class="center aligned" data-label="Suchbegriff"
              th:text="${searchKey.getFormattedValue()}"></td>
          <td class="center aligned">
            <form th:action="@{/crawler/search-keys/{searchKeyId}(searchKeyId=${searchKey.id})}"
                  th:method="DELETE">
              <button class="ui icon button">
                <i class="trash icon"></i>
              </button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
      <!-- EXCLUDE KEYS -->
      <div class="ui hidden divider"></div>
      <form th:action="@{/crawler/search-keys/exclude}" th:method="POST">
        <div class="ui action input">
            <input name="value" placeholder="Ausschlussbegriff..." type="text">
          <button class="ui green icon button">
            <i class="plus icon"></i>
          </button>
        </div>
      </form>
      <table class="ui celled striped table">
        <thead>
        <tr>
          <th class="center aligned">Ausschlussbegriff</th>
          <th class="center aligned ">Löschen</th>
        </tr>
        </thead>
        <tbody>
        <tr class="center aligned" th:if="${excludeKeys.isEmpty()}">
          <td colspan="2">Keine Begriffe</td>
        </tr>
        <tr th:each="searchKey: ${excludeKeys}">
          <td class="center aligned" data-label="Suchbegriff"
              th:text="${searchKey.getFormattedValue()}"></td>
          <td class="center aligned">
            <form th:action="@{/crawler/search-keys/{searchKeyId}(searchKeyId=${searchKey.id})}"
                  th:method="DELETE">
              <button class="ui icon button">
                <i class="trash icon"></i>
              </button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- SEARCH RESUTS -->
    <div class="eleven wide column" style="overflow-y: auto; max-height: 90vh;">
      <table class="ui celled striped table">
        <thead>
        <tr>
          <th th:text="${'Suchergebnisse: '+searchResults.size()}"></th>
          <th class="center aligned">Suchbegriff</th>
          <th class="center aligned">Datum</th>
          <th class="center aligned">Löschen</th>
        </tr>
        </thead>
        <tbody>
        <tr class="center aligned" th:if="${searchResults.isEmpty()}">
          <td colspan="4">Keine Suchergebnisse</td>
        </tr>
        <tr th:each="searchResult: ${searchResults}">
          <td data-label="Suchergebnis">
            <div class="ui red label" th:if="${!searchResult.opened}">
              Neu
            </div>
            <a th:href="@{/crawler/search-results/{searchResultId}(searchResultId=${searchResult.id})}">
              <strong th:if="${!searchResult.opened}" th:text="${searchResult.title}"></strong>
              <span th:if="${searchResult.opened}" th:text="${searchResult.title}"></span>
            </a>
          </td>
          <td class="center aligned" data-label="Suchbegriff"
              th:text="${searchResult.searchKey.getFormattedValue()}"></td>
          <td class="center aligned" data-label="Gefunden am">
            <a target="_blank" th:href="${searchResult.fbUrl}" th:if="${searchResult.fbUrl != null}"
               th:text="${searchResult.getFormattedPublishedDate()}"></a>
            <div class="ui active inline loader" th:if="${searchResult.fbUrl == null}"></div>
          </td>
          <td class="center aligned">
            <form
                th:action="@{/crawler/search-results/{searchResultId}(searchResultId=${searchResult.id})}"
                th:method="PUT">
              <button class="ui icon button">
                <i class="trash icon"></i>
              </button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
