<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Firmen</title>
</head>
<body>
<div class="ui container">
  <a th:href="${baseUrl}">
    <strong>Website</strong>
  </a>
  <br/>
  <br/>
  <span th:if="${searchResults.isEmpty()}">
    Keine Ergebnisse
  </span>
  <table th:if="${!searchResults.isEmpty()}">
    <thead>
    <tr>
      <th style="text-align: left;">Suchergebnis</th>
      <th>Suchbegriff</th>
      <th>Veröffentlicht am</th>
      <th>Gefunden am</th>
    </tr>
    </thead>
    <tbody>
    <tr style="height: 25px" th:each="searchResult: ${searchResults}">
      <td data-label="Suchergebnis">
        <a th:href="${baseUrl} + '/crawler/search-results/' + ${searchResult.id}">
          <strong th:if="${!searchResult.opened}" th:text="${searchResult.title}"></strong>
          <span th:if="${searchResult.opened}" th:text="${searchResult.title}"></span>
        </a>
      </td>
      <td data-label="Suchbegriff"
          style="text-align: center"
          th:text="${searchResult.searchKey.getFormattedValue()}"></td>
      <td data-label="Veröffentlicht am"
          th:text="${searchResult.getFormattedPublishedDate()}"></td>
      <td data-label="Gefunden am"
          th:text="${searchResult.getFormattedSearchDate()}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
