<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Willhaben</title>
  <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" media="all"
        rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="ui blue inverted three item menu" style="margin-top: 0px; border-radius: 0px">
  <div class="ui container">
    <a class="item active" th:href="@{/crawler}">FB Neueintragungen</a>
    <a class="item" th:href="@{/logout}">Logout</a>
  </div>
</div>

</body>
</html>
